:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  --vp-c-brand-1: #ff5858;
  --vp-c-brand-2: #ff5858;
  --vp-c-brand-3: #f09819;
}
